# exclude everything except directory py
*
!.gitignore
!battlepokeranalyzer.py
!classes.py
!configuration.py
!helperMethods.py
!output.log
!TwoHandMatchups.csv
!TwoHandWinRatesByHand.csv
!WinRatesByIndividualUnit.csv
!CoffReplays
!CoffReplays/*